<p id="notice"><%= notice %></p>

<h1>The City Buzz</h1>
<h4>Event Feed</h4>


<!-- <div class="row"> -->
<div class="allblocks">
	<% @events.reverse_each do |event| %>
		<div class="panel blocks">
			<div class="panel-heading">
				<h3><%= event.message %></h3>
			</div>
			<div class="panel-body">
				<h5>by <%= link_to event.user.username, profile_path(event.user) %></h5>
			</div>
		</div>
	<!-- </div> -->
	<% end %>
</div>
