<h1> <%= @event.user.username %> </h1>
<%= image_tag @event.image(:medium) %>
<h3><%= @event.message %></h3>


<% if current_user.id == @event.user_id %>
<%= link_to "Edit this event", edit_event_path(@event) %> <br>
<% end %>
